@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .description {
    --max-lines: 4;
    --line-height:1.25;

    max-height: calc(var(--max-lines)*1em*var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
    white-space: pre-wrap;
    letter-spacing: -0.05em;
  }
  .description:has(+ .expand-btn:not(:checked)):before {
    content: "";
    position: absolute;
    height: calc(2em*var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
  }
  .expand-btn{
    appearance: none;
    border: 1px solid rgb(156, 163, 175);
    padding: 0.25em;
    border-radius: 0.5em;
    cursor:pointer;
    margin: 0 auto;
  }
  .expand-btn::before{
    content:'Show more';
  }
  .expand-btn:checked::before{
    content: 'Show less';
  }
  .description:has(+ .expand-btn:checked){
    max-height: none;
  }

  .cutoff-text{
    --max-lines:2;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .video-title-cutoff{
    --max-lines:1;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines);
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
}
